<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="File" fileName="jmsftp.log">
		<PatternLayout pattern="%d{DEFAULT} %-5level %msg%n"/>
    </File>
	<Console name="Console" target="SYSTEM_OUT">
		<PatternLayout pattern="%d{DEFAULT} %-5level %msg%n"/>
	</Console>
  </Appenders>
  <Loggers>
    <Root level="all" additivity="true">
      <AppenderRef ref="File"/>
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration> 