<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">
	<Appenders>
		<RollingFile name="RollingFile" fileName="jms2ftp.log"
			filePattern="jms2ftp.%i.log.gz" ignoreExceptions="false">
			<PatternLayout pattern="%d{DEFAULT} %-5level [%t] %msg%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="9" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DEFAULT} %-5level [%t] %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<AsyncRoot level="all" additivity="true">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="Console" />
		</AsyncRoot>
	</Loggers>
</Configuration>